appnope==0.1.4
astropy==7.2.0
astropy-iers-data==0.2026.1.26.0.43.56
asttokens==3.0.1
click==8.3.1
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
executing==2.2.1
filelock==3.20.3
fonttools==4.61.1
gplearn==0.4.3
ipykernel==7.1.0
ipython==9.9.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
joblib==1.5.3
juliacall==0.9.26
juliapkg==0.1.22
jupyter-client==8.8.0
jupyter-core==5.9.1
jupyterlab-widgets==3.0.16
kiwisolver==1.4.9
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
neat-python==1.1.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy==2.4.1
packaging==26.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
prompt-toolkit==3.0.52
psutil==7.2.1
ptyprocess==0.7.0
pure-eval==0.2.3
pyerfa==2.0.1.5
pygame==2.6.1
pygments==2.19.2
pyparsing==3.3.2
pysr==1.5.9
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
pyzmq==27.1.0
scikit-learn==1.8.0
scipy==1.17.0
semver==3.0.4
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.4.0
tomlkit==0.13.3
tornado==6.5.4
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2025.3
wcwidth==0.3.5
widgetsnbextension==4.0.15
xcs==1.0.0
